beautifulsoup4==4.15.0
bert_score==0.3.13
evaluate==0.4.6
gliner==0.2.26
gliner2==1.3.1
joblib==1.5.3
joblib==1.3.0
ollama==0.6.2
pandas==2.0.3
Pillow==10.0.0
Pillow==12.3.0
pypdfium2==5.12.0
rapidfuzz==3.14.5
Requests==2.34.2
scikit_learn==1.3.0
torch==2.5.1+cu121
torch==2.1.2
transformers==5.14.0
transformers==4.36.2
~ransformers==5.1.0
~ransformers==4.40.2
