.venv/
venv/
env/
ENV/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cac
.ruff_cache/
.pyright/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.env
.env.*
poetry.toml

data/
generated_modelcards/
logs/
testing_data/

huggingface-cache/
.huggingface/
ollama-data/
docker-data/

*.log
tmp/
temp/
.cache/

README.md
CHANGELOG.md
LICENSE
